@import url('https://fonts.googleapis.com/css?family=Roboto');



/*
Variables
 */
:root {
    --primary-color: #1294F7;
    --accent-color: #FF4081;
    --accent-hover-color: #FF508C;
    --accent-light-color: #FFA0c0;
    --dark-ripple-color: #F33577;
    --light-ripple-color: #FFECF3;
    --primary-accent-focused-color: #FFECF3;
    --secondary-color: #000;
    --gray-color: #9F9F9F;
    --tooltip-gray: #616161;
    --active-opacity: 0.87;
    --hover-opacity: 0.54;
    --inactive-opacity: 0.38;
    --disabled-opacity: 0.26;
    --line-divider-color: #EEEEEE;
    --form-invalid: #ef5350;
    --form-required: #1294f7;
    --background-1: #F1F1F1;
    --background-2: #FAFAFA;

    --regular: 300;
    --medium: 600;
    /*Over riding Material Primary color*/
    --mdc-theme-primary:#FF4081!important;
}


/*
Main body
 */
body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: var(--regular);
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.88);
    margin: 0;
}
/**************************************************************************************************************************************************************/


/*
Login
 */
.login-wrapper {
    display: table;
    background: url('./svg/cloud.svg') repeat-x bottom;
    position: absolute;
    height: 100vh;
    width:100%;
    text-align: center;
}
.login-center-div {
    display: table-cell;
    vertical-align: middle;
}
.login-logo {
    margin: 0 auto;
}
.login-logo img {
    height: 63px;
    width: 76px;
}
.login-title {
    margin: 127px auto 0;
}
.login-title h2 {
    font-weight: var(--regular);
}
.login-body {
    margin: 48px auto 127px;
    width: 30%;
}
.input-wrapper {
    position: relative;
}
.input-wrapper input {
    line-height: 80px;
    margin: 0 auto ;
    width: 90%;
    font-size: 16px;
    padding: 0 5%;
    border: none;
    border-bottom: 1px solid var(--line-divider-color);
    outline:none;
}
.input-wrapper > label {
    color:#999;
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5%;
    top:36%;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.input-wrapper > input:focus ~ label, .input-wrapper > input:valid ~ label {
    top:3%;
    font-size:14px;
    color: var(--accent-color);
}
.input-wrapper > input:invalid ~ label{
    top:3%;
    font-size:14px;
    color: var(--form-invalid);
}
.login-form button {
    margin-top: 4px;
    width: 100%;
    line-height: 56px;
    height: 56px;
    font-size: 14px;
    font-weight:var(--medium);
    border-radius: 0;
}
.login-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.login-footer {
    color: #a0a0a0;
    font-weight: var(--medium);
}
/**************************************************************************************************************************************************************/


/*
Headers
*/
h1 {
    font-size: 24px;
    /*line-height: 1.33;*/
    color: rgba(0, 0, 0, 0.88);
    margin: 0;
    text-transform: uppercase;
}
h2 {
    font-size: 20px;
    font-weight: var(--medium);
    /*line-height: 1.4;*/
    color: rgba(0, 0, 0, 0.88);
    margin: 0;
}
h3 {
    font-size: 16px;
    /*line-height: 1.5;*/
    color: rgba(0, 0, 0, 0.88);
    margin: 0;
}
h4 {
    font-size: 14px;
    font-weight: var(--medium);
    /*line-height: 1.43;*/
    color: rgba(0, 0, 0, 0.88);
    margin: 0;
}
h5 {
    font-size: 14px;
    font-weight: var(--medium);
    /*line-height: 1.14;*/
    color: rgba(0, 0, 0, 0.88);
    margin: 0;
}
h6 {
    font-size: 12px;
    /*line-height: 1.33;*/
    color: rgba(0, 0, 0, 0.88);
    margin: 0;
}
.h7 {
    display: inline;
    font-size: 1.077em;
    font-weight:var(--medium);
    text-transform: uppercase;
    margin: 0;
}
/**************************************************************************************************************************************************************/

/**
Line dividers
 */
hr {
    background: var(--line-divider-color);
}
.material-icons {
    cursor: pointer;
    vertical-align: middle;
    font-size: 20px;
    height: 24px;
    width: 24px;
    margin-left: 24px;
    color: var(--secondary-color);
    opacity: var(--inactive-opacity);
}
.material-icons:hover {
    opacity: var(--hover-opacity);
}
.material-icons.active{
    opacity: var(--active-opacity);
}

/**************************************************************************************************************************************************************/

/**
Navigation header
 */
.nav-bar {
    background: var(--primary-color);
    top: 0;
    color: #fff;
    width: 100%;
    position: fixed;
    z-index: 500;
    line-height: 64px;
    height: 64px;
    vertical-align: middle;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.24);
}
.nav-bar h1 {
    display: inline-block;
    color: #fff;
}
.nav-bar i {
    color: #fff;
    opacity:var(--active-opacity);
    vertical-align: middle;
}
.nav-bar i:hover {
    color: #fff;
    opacity:var(--active-opacity);
}
.logo-font {
    margin-left: 24px;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
}
.logo-font strong {
    font-weight:bolder;
    text-transform: none;
}
.nav-right-item {
    float: right;
}
.nav-right-item:first-of-type {
    margin-right: 24px;
}
/**************************************************************************************************************************************************************/

/*
Content
 */
.content {
    display: flex;
}
.mdc-temporary-drawer__drawer {
    max-width: 256px!important;
}
.left-drawer {
    padding-top: 88px;
}
.right-drawer {
    direction: ltr;
}
.right-drawer > .mdc-temporary-drawer__drawer {
    max-width: 354px!important;
}
.mdc-permanent-drawer .mdc-list-item {
    font-size: 13px;
    font-weight: var(--regular);
}
.mdc-permanent-drawer.mdc-list-item.active-link, .mdc-permanent-drawer.mdc-list-item.active-link:focus  {
    font-weight: var(--medium);
    background: #fff;
}

.mdc-list-item {
    line-height: 48px;
    border-bottom: 1px solid #eeeeee;
}
.mdc-list-item[dir=rtl] .mdc-list-item__start-detail, [dir=rtl] .mdc-list-item .mdc-list-item__start-detail {
    margin: 0;
}
.mdc-list-item:focus {
    background: inherit!important;
    font-weight: bolder;
}
.content-body {
    position: relative;
    width: 100%;
    margin: 60px 0 0 0;
}
.mdc-permanent-drawer {
    min-height: 100vh;
    max-width: 256px!important;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.18), 0 16px 16px 0 rgba(0,0,0,0.24)
}

/**************************************************************************************************************************************************************/

/**
Margins and gaps
 */
.side-gaps {
    margin: 0 16px;
}
.right-side-gap {
    margin-right: 16px;
}
.left-side-gap {
    margin-left: 16px;
}
.side-nav {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.18), 0 16px 16px 0 rgba(0,0,0,0.24);
}

/**************************************************************************************************************************************************************/


/**
Buttons
 */
button {
    display: inline;
    font-size: 1.077em;
    font-weight:var(--medium);
    text-transform: uppercase;
    margin-right: 8px!important;
}
.modal-btn {
    padding-left: 8px!important;
    padding-right: 8px!important;
}
.cancel-btn {
    color: #000!important;
}
/**************************************************************************************************************************************************************/


/**
Popup
*/
/*For the border and the color of the arrow of the tooltip*/
.ToolTipPortal > div > div > span:first-of-type{
    border-bottom: 10px solid #FFFEF2!important;
}
.ToolTipPortal > div > div > span:last-of-type{
    border-bottom: 10px solid rgba(0,0,0,0.15)!important;
}
.popup-wrapper {
    padding: 16px;
}
.popup-wrapper:focus {
    background: black;
    color: white;
}
.popup-header {
    margin-bottom: 4px;
    font-weight: var(--medium);
}
.popup-header i {
    float: right;
}
.popup-date {
    margin-bottom: 8px;
    opacity: var(--hover-opacity);
}

/**************************************************************************************************************************************************************/


/*
Badges
*/
.badge {
    cursor: pointer;
    float: none!important;
    font-size: 12px!important;
    font-weight: var(--medium);
    padding: 0 4px!important;
    border-radius: 2px;
    background: var(--gray-color);
    color: #ffffff!important;
    line-height: 15px;
    position: relative;
    text-align: right;
}
.badge:hover {
    background: var(--accent-color);
}
.active > .badge, a.active > div > .badge  {
    background: var(--accent-color);
}
.badge label {
    color: #ffffff;
}

/**************************************************************************************************************************************************************/

/**
Form
 */
.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth) {
    margin-top: 0!important;
}

/* label color */
label {
    cursor: pointer;
    font-size:13px;
    color: var(--secondary-color);
    opacity:var(--active-opacity);
}
.input-field label:not(.label-icon).active {
    left: 0;
}
.input-field.col label {
    left: 0!important;
}
/**
For radio button
 */
.mdc-radio > label {
    cursor: pointer!important;
    margin-left: 30px!important;
}
.mdc-checkbox__background {
    height: 35%;
    width: 35%;
    top: 13px;
}
.mdc-checkbox__background > label {
    cursor: pointer!important;
    position: fixed!important;
    left: 40px!important;
}


/*
For dropdown
 */
select {
    padding: 8px;
    cursor: pointer;
    float: left;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    outline:none;
    appearance:none;
}
select option {
    display: none;
}
.custom-select-wrapper {
    position: relative;
    cursor: pointer;
    outline: none;
}
.custom-select {
    background: url(./svg/down_arrow.svg) no-repeat right;
    height: 48px;
    font-size:15px;
    border-bottom:1px solid var(--line-divider-color);
}
.custom-select-option {
    display: inline-block;
    line-height:48px;
}
.custom-options-list-bottom {
    padding: 0;
    position: absolute;
    margin-top: 0;
    top: 0;
    width: 100%;
    z-index: 400;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.custom-options-list-top {
    padding: 0;
    position: absolute;
    margin-top: 0;
    top: -95px;
    width: 100%;
    z-index: 400;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.custom-options-list-top li ,.custom-options-list-bottom li {
    cursor: pointer;
    line-height: 48px;
    clear: both;
    list-style: none;
    padding: 0 16px 0 24px;
    color: #000;
    background: #fafafa;
}
.custom-options-list-bottom li:hover, .custom-options-list-top li:hover {
    color: #000;
    background: #ededed;
}

/**************************************************************************************************************************************************************/


/*
Range
 */
.input-range__track {
    background: var(--gray-color);
}
.input-range__track--active {
    background: var(--accent-color);
}
.input-range__slider {
    background: var(--accent-color);
    border: 1px solid var(--accent-hover-color);
}
.input-range__slider:active {
    color: #fff;
    display: flex;
    position: absolute;
    top: -10px;
    left: -12px;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    margin-top: -2px;
    margin-left: -2px;
    -webkit-transform: rotate(-45deg) scale(0) translate(0, 0);
    -webkit-transition: -webkit-transform 100ms ease-out;
    transition: -webkit-transform 100ms ease-out;
    transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
    border-radius: 50% 50% 50% 0;
    z-index: 1;
    transform: rotate(-45deg) scale(1) translate(19px, -20px);

}

/**************************************************************************************************************************************************************/


/*
Progress Bars
 */
.progress {
    background-color: var(--accent-light-color);
}
.progress .indeterminate {
    background-color: var(--accent-color);
}
.spinner-blue, .spinner-blue-only {
    border-color: var(--accent-color);
}

/**************************************************************************************************************************************************************/

/**
Pagination
 */
.pagination-wrapper {
    text-align: center;
    font-size: 13px;
    line-height: 48px;
}
.pagination-wrapper i {
    cursor: pointer;
    opacity: var(--hover-opacity);
    margin: 0!important;
}
.pagination-total-pages {
    background: url(./svg/down_arrow.svg) no-repeat right;
    min-width: 50px;
    height: 48px;
}
.pagination-wrapper i:hover, .pagination-page:hover {
    color: var(--secondary-color);
    transition: background-color 1s ease!important;
}
.pagination-page {
    cursor: pointer;
    font-size: 13px;
    margin-left: 8px;
    background: none;
    color: var(--secondary-color);
    opacity: var(--hover-opacity);
}
.pagination-page:last-of-type {
    margin-right: 8px;
}
.pagination-page-active {
    color: var(--secondary-color);
    opacity:var(--active-opacity);
}
.pagination-wrapper .custom-select {
    display: inline-block;
    float: left;
    background: url(./svg/down_arrow.svg) no-repeat right;
    height: 48px;
    min-width: 60px;
    font-size:15px;
    border-bottom:1px solid var(--line-divider-color);
}
.pagination-wrapper .custom-select-option {
    display: inline-block;
    line-height:48px;
    float: left;
}
/*For the dropdown in pagination*/
.pagination-wrapper > .custom-select-wrapper > .custom-options-list-bottom, .pagination-wrapper > .custom-select-wrapper > .custom-options-list-top {
    width: inherit;
}


/**************************************************************************************************************************************************************/


/**
Datepicker
 */
.inline {
    display: inline;
}
.fixed-calendar {
    margin:0 8px!important;
}
.fixed-calendar-label {
    font-size: 14px;
    color: var(--secondary-color);
    opacity: var(--hover-opacity);
}
.fixed-calendar:hover, .fixed-calendar-active {
    color: var(--accent-color)!important;
    opacity: initial;
}
.date-range-picker-wrapper {
    position: relative;
    outline: none;
}
.date-range-picker-view-toggle, .date-range-picker-view-toggle-active {
    cursor: pointer;
    font-style: 14px;
    background-color: transparent;
    border: none;
    display: inline;
    border-radius: 0;
    outline: none;
    line-height: 3rem;
    width: 40%;
    margin: 0 0 20px 0;
    padding: 0 0 5px;
    box-sizing: content-box;
    transition: all 0.3s;
}
.date-range-picker-view-toggle-active {
    border-bottom: 1px solid var(--accent-color);
}
.date-range-picker-view-toggle {
    border-bottom: 1px solid var(--gray-color);
}
.rdr-Calendar {
    width: 295px!important;
    padding: 16px!important;
    box-shadow:  0 0 2px 0 rgba(0,0,0,0.12),  0 2px 2px 0 rgba(0,0,0,0.24)!important;
}
.rdr-DateRange {
    position: absolute;
    z-index: 300;
    top: 45px
}
.rdr-Calendar:first-of-type {
    display: none!important;
}
.is-inRange, .is-selected {
    background: var(--accent-light-color)!important;
    color: #fff!important;
}
.rdr-Day:hover {
    background: var(--accent-color)!important;
    color: #fff!important;
    transition: background-color 1s ease!important;
}
.rdr-MonthAndYear-button.prev {
    cursor: pointer;
    background: url(./svg/left_arrow.svg) no-repeat center!important;
}
.rdr-MonthAndYear-button.next {
    cursor: pointer;
    background: url(./svg/right_arrow.svg) no-repeat center!important;
}
.rdr-MonthAndYear-button.prev > i, .rdr-MonthAndYear-button.next > i{
    display: none!important;
}
/**************************************************************************************************************************************************************/


/**
Cards
 */
.card {
    padding: 24px;
    margin-bottom: 24px;
    background: #fff;
    border: 1px solid var(--light-ripple-color);
    box-shadow:  0 0 2px 0 rgba(0,0,0,0.12),  0 2px 2px 0 rgba(0,0,0,0.24)
}
.card i{
    margin: 0 5px;
}
/**************************************************************************************************************************************************************/

/*
Grid
 */
.mdc-layout-grid__cell, .mdc-layout-grid__inner {
    margin-bottom: 24px!important;
}
.mdc-layout-grid__cell:last-of-type {
    margin-bottom: 0!important;
}
.border-black {
    border: 1px solid black;
}
/**************************************************************************************************************************************************************/

/**
Table
 */
table{
    background: #fff;
    border-collapse: collapse;
    text-align: left;
    font-size: 13px;
}
thead {
    border-bottom:none;
    font-weight: var(--medium);
}
td, th {
    padding: 0 16px;
    white-space: nowrap;
}
th {
    background: #f7f7f7;
    color: var(--gray-color);
    line-height: 56px;
}
td {
    line-height: 48px;
    font-weight: var(--regular);
}
tr {
    border-bottom:1px solid #f7f7f7;
}
td:first-of-type, th:first-of-type {
    padding-left: 24px;
}
td:last-of-type, th:last-of-type {
    padding-right: 24px;
}



.table-header {
    position: fixed;
    width: 100%;
    background: #f7f7f7;
    color: var(--gray-color);
    font-weight:normal;
    line-height: 48px;
    padding: 0 24px;
}
.table-footer {
    width:100%;
    padding: 0 24px;
    background: #fff;
}
/**************************************************************************************************************************************************************/




/*
Filter
 */
.filter-wrapper {
    margin-top: 88px;
}
.filter-head {
    padding: 16px 24px;
    border-bottom: 1px solid #eeeeee;
}
.filter-body {
    padding: 16px 24px;
}

/**************************************************************************************************************************************************************/


/**
Sidebar
*/
#sidenav-overlay{
    background: none!important;
}
/**************************************************************************************************************************************************************/

/**
Tabs
 */
.mdc-tab-bar {
    float: left;
}
.mdc-tab-header {
    vertical-align: middle;
}
.mdc-tab-body{
    clear: both;
}
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:after {
    background: var(--accent-color);
}
.mdc-tab .badge {
    margin-left: 8px;
}
.mdc-tab--active .badge{
    background: var(--accent-color);
    opacity: var(--active-opacity);
}
/**************************************************************************************************************************************************************/

/*
Modals
*/
.mdc-dialog__header {
    border-bottom: 1px solid var(--line-divider-color);
    padding: 24px 24px 24px 20px;
}
.mdc-dialog__body {
    border-bottom: 1px solid var(--line-divider-color);
    padding: 20px 24px 24px 24px;
    margin: 0;
}
.mdc-dialog__body > div:not(:first-of-type){
    margin-top: 20px;
}
/**************************************************************************************************************************************************************/

/**
Accordion
 */

.Collapsible__trigger {
    display: block;
    cursor: pointer;
    border-bottom: 1px solid var(--line-divider-color);
    line-height: 48px;
    height:48px;
    padding: 0 24px;
    font-size: 13px;
    font-weight: var(--medium);
    background: url('./svg/down_arrow.svg') no-repeat right;
}
.Collapsible__trigger.is-open {
    background: url('./svg/up_arrow.svg') no-repeat right;
}
.Collapsible__contentOuter {
    transition: max-height 0.2s ease-out;
    font-size: 13px;
    font-weight: var(--regular);
}
/**************************************************************************************************************************************************************/

.no-margin {
    margin: 0!important;
}
.default-horizontal-margin-24 {
    margin: 0 24px;
}
.default-horizontal-margin-16 {
    margin: 0 16px;
}
.default-horizontal-margin-12 {
    margin: 0 12px;
}
.default-horizontal-margin-8 {
    margin: 0 8px;
}
.default-vertical-margin-24 {
    margin: 24px 0;
}
.default-vertical-margin-16 {
    margin: 16px 0;
}
.default-vertical-margin-12 {
    margin: 12px 0;
}
.default-vertical-margin-8 {
    margin: 8px 0;
}

.default-horizontal-padding-24 {
    padding: 0 24px;
}
.default-horizontal-padding-16 {
    padding: 0 16px;
}
.default-horizontal-padding-8 {
    padding: 0 8px;
}
.default-vertical-padding-24 {
    padding: 24px 0;
}
.default-vertical-padding-16 {
    padding: 16px 0;
}
.default-vertical-padding-8 {
    padding: 8px 0;

}


.center-margin {
    margin: 0 auto;
}
.relative {
    position: relative;
}










